<div class="container">
  <div class="row d-flex justify-content-center py-4">
    <div class="col-md-6">
      <h1>Create your cocktail:</h1>
      <%= render "form", cocktail: @cocktail %>
      <p>* Un cocktail ne peut être crée sans photo, merci *</p>
    </div>
  </div>
</div>

