<div class="footer <%= 'fixed-bottom' unless action_name == 'index' %>" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "Cocktails-banner.jpg" %>')">
  <div class="share d-flex justify-content-center p-5">
      <div><i class="fa fa-facebook-square fa-2x mr-2"></i></div>
      <div><i class="fa fa-twitter-square fa-2x mr-2"></i></div>
      <div><i class="fa fa-pinterest-square fa-2x mr-2"></i></div>
      <div><i class="fa fa-envelope-square fa-2x"></i></div>
    </div>
</div>
