.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-color: transparent;
  transition: 0.3s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color:white
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-cocktail {
  background-image: url('https://res.cloudinary.com/djevcywps/image/upload/v1606449890/izh5efichs8emgcvdjsy.jpg');
}

.navbar-brand h3 {
  color: white;
}

.navbar-toggler-icon {
  background-color: #F2545B;
}
